* {
    box-sizing: border-box;
}

@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: auto;
    width: 100%;
    overflow-x: hidden;
    /* background-color: black; */
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.menuIcon {
    margin-right: 15px;
    cursor: pointer;
    transition: .5s ease;
}

.change .menuIcon {
    transform: translateX(-240px);
}

.menuIcon div {
    display: flex;
    width: 30px;
    height: 2px;
    background-color: rgb(207, 23, 23);
    margin: 6px 0;
    transition: 0.4s;
}

#b2 {
    width: 25px;
}

#b3 {
    width: 20px;
}

.change #b1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #b2 {
    opacity: 0;
}

.change #b3 {
    width: 30px;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-5px, -2px);
}

.menu {
    position: absolute;
    height: 100vh;
    width: 0px;
    background-color: black;
    top: 0;
    right: 0;
    transition: .5s ease;
    color: white;
    overflow: hidden;
}

.listMenu {
    /* background-color: brown; */
    color: white;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.menItem {
    color: white;
    /* background-color: rgb(31, 224, 224); */
    height: 20px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 125%;
    overflow: hidden;
    transition: .5s ease;
}

.menItem a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s ease;
}

.menItem:hover a {
    color: rgb(255, 0, 0);
}

.change .menu {
    width: 240px;
}

#word {
    display: inline-block;
    min-width: 5px;
    min-height: 19px;
    width: auto;
    padding: 4px 5px;
    position: relative;
    /* font-family: 'Lobster', cursive; */
    color: inherit;
}
  
#word::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%);
    right: 1px;
    background-color: rgb(207, 23, 23);
    animation-name: cursorAnimtion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
@keyframes cursorAnimtion {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

/*----------------------------------------------------ME--------------------------------------------------------------------------------------*/

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/wallppr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    z-index: 9;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: auto;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.helloIcon {
    height: 75px;
    width: auto;
}

.name {
    width: 100%;
    height: auto;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
}

.myJob {
    font-family: "Hacked";
    color: white;
    font-size: 150%;
    height: 128px;
}

.letsWork {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-style: double;
    border-color: rgb(207, 23, 23);
    border-radius: 20px;
    width: auto;
    text-align: center;
    transition: .5s ease;
}

.letsWork:hover {
    background-color: rgb(207, 23, 23);
    color:black;
}

/*----------------------------------------------------ABOUT ME--------------------------------------------------------------------------------------*/

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgb(211, 211, 211);
    transform: skewY(-7deg);
    position: relative;
}

.aboutMe::before {
    content: "";
    width: 100%;
    height: 50%;
    top: -49%;
    position: absolute;
    background-color: rgb(211, 211, 211);
}

.deg {
    transform: skewY(7deg);
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 150px;
    flex-wrap: nowrap;
    width: auto;
    min-width: 0;
    max-width: 1200px;
    /* background-color: aqua; */
}

.photo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 49%;
    min-width: 250px;
    margin-right: 1%;
    /* background-color: lawngreen; */
}

.profilePic {
    height: auto;
    width: 100%;
    max-width: 375px;
    border-radius: 50%;
    align-self: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
    height: 100%;
    width: 49%;
    /* background-color: darkred; */
}

.about-text {
    /* background-color: chocolate; */
    text-align: left;
    width: 100%;
    color: black;
}

.content {
    /* color: white; */
    width: 100%;
}

/*---------------------------------------------------------Services---------------------------------------------------------*/

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    transform: skewY(-7deg);
    z-index: -4;
}

.services::after {
    position: absolute;
    bottom: -199px;
    content: "";
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    /* transform: skewY(14deg); */
    z-index: -4;
}

.services h1 {
    transform: skewY(7deg);
}

.services-tittle {
    margin-top: 30px;
}

.lineIcon {
    position: absolute;
    width: 90px;
    height: 90px;
    border-style: double;
    border-color: black;
    transform: rotateZ(45deg);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.iconImage {
    transform: rotateZ(-45deg);
}

.lineIcon::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 160px;
    left: 121px;
    top: 42px;
    border: 1px solid;
    border-color: black;
    transform: rotateZ(-45deg);
}

.servicesContainer {
    max-width: 1200px;
    min-width: 450px;
    height: auto;
    transform: skewY(7deg);
    /* background-color: rgb(161, 161, 161); */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}

.service {
    margin: 30px 15px;
    height: auto;
    width: 250px;
    /* background-color: rgba(0, 0, 255, 0.445); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h2 {
    margin-top: 120px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.service p {
    /* font-family: 'Dancing Script', cursive; */
    color: white;
    text-align: center;
    margin: 0px;
}

.iconContainer {
    width: 100%;
    height: auto;
}

.serviceIcon {
    position: absolute;
    background-color: black;
    border-color: rgb(255, 0, 0);
}

.serviceIcon::after {
    content: none;
}

.animated {
    position: relative;
    height: 64px;
    width: 64px;
    /* border: 2px solid rgb(255, 0, 0); */
    animation: animationDynamicIcon 3s infinite;
}

.animated::before {
    content: "";
    position: absolute;
    right: 30%;
    bottom: 25%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    animation: eyes 3s infinite;
}

.animated::after {
    content: "";
    position: absolute;
    right: 30%;
    top: 25%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    animation: eyes 3s infinite;
}

@keyframes eyes {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }

    49.5% {
        background-color: rgb(255, 0, 0);
    }

    100% {
        background-color: rgba(255, 0, 0, 0);
    }
}

@keyframes animationDynamicIcon {
    0% {
        border: 2px solid rgb(255, 0, 0);
        transform: rotate(45deg);
        border-radius: 0;
    }
    33% {
        transform: rotate(225deg);
        border-radius: 50%;
    }

    49.5%{
        border-top: 2px solid rgba(255, 0, 0, 0);
        border-right: 2px solid rgba(255, 0, 0, 0);
        border-bottom: 2px solid rgba(255, 0, 0, 0);
    }

    66% {
        transform: rotate(225deg);
        border-radius: 50%;
    }

    100% {
        border: 2px solid rgb(255, 0, 0);
        transform: rotate(405deg);
        border-radius: 0;
    }
}

/*---------------------------------------Skills------------------------------------------------*/

.mySkills {
    width: 100%;
    height: auto;
    background-color: rgb(211, 211, 211);
    transform: skewY(7deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.mySkills::before {
    position: absolute;
    top: 0px;
    content: "";
    width: 100%;
    height: 200px;
    background-color: rgb(211, 211, 211);
}

.whatIcanDo {
    transform: skewY(-7deg);
    text-align: center;
    color: black;
}

.mySkills .hello {
    /* background-color: brown; */
    transform: skewY(-7deg);
    width: auto;
    max-width: 1200px;
    min-width: 450px;
    flex-direction: row;
    height: auto;
    margin-bottom: 150px;
}

.mySkills .information {
    /* background-color: aqua; */
    margin: 0;
    margin-left: 1%;
    justify-content: flex-start;
    width: 53%;
    margin-right: 2%;
}

.mySkills .lvlBars {
    /* background-color: darkblue; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information h2 {
    font-family: 'Charm', cursive;
    font-size: 150%;
    align-self: flex-start;
}

.information .about-text {
    color: rgb(0, 0, 0);
}

.quality {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid black;
    /* background-color: rgb(18, 167, 236); */
    position: relative;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}

.quality h2 {
    font-family: 'Dancing Script', cursive;
    transform: rotate(45deg);
}

.quality::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    border: 5px solid rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 0, 0);
    border-left: 5px solid rgba(255, 255, 0, 0);
}

.quality::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    border: 5px solid rgb(255, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 5px solid rgba(255, 255, 0, 0);
    border-left: 5px solid rgba(255, 255, 0, 0);
}

.html::before {
    transform: rotate(36deg);
}

.css::before {
    transform: rotate(90deg);
}

.js::before {
    transform: rotate(108deg);
}

.bs::before {
    transform: rotate(36deg);
}

.sql::before {
    transform: rotate(40deg);
}

.ps::before {
    transform: rotate(90deg);
}

.php::before {
    transform: rotate(0deg);;
}

.node::after {
    border-bottom: 5px solid rgba(255, 255, 0, 0);
}

.node::before {
    border-bottom: 5px solid rgba(255, 255, 0, 0);
    transform: rotate(72deg);
}

/*---------------------------------------ContactMe------------------------------------------------*/

.contactUs {
    width: 100%;
    height: 750px;
    background-color: rgb(255, 255, 255);
    transform: skewY(7deg) ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contactUs::after {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -149px;
    background-color: rgb(255, 255, 255);
}

.contactUs .nameinc {
    margin-top: 25px;
    height: 20%;
    transform: skewY(-7deg);
    font-family: 'Hacked';
    font-size: 150%;
}

.contactForm {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-7deg);
    /* background-color: chartreuse; */
    margin: 0px 20px;
    max-width: 1200px;
    width: 90%;
}  

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    min-width: 420px;
    width: 100%;
    height: auto;
    /* background-color: rgb(20, 77, 199); */
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.textarea {
    margin-top: 55px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    position: relative;
}

.textarea textarea {
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    width: 100%;
    height: 200px;
    /* background-color: rgb(170, 36, 36); */
    border: none;
}

.divinput {
    height: 30px;
    width: 45%;
    position: relative;
    /* background-color: rgba(131, 25, 230, 0.966); */
}

.divinput label::after {
    content: "";
    position: absolute;
    border: double rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    transform: rotateZ(45deg);
    bottom: -18px;
    transition: .5s ease;
}

.divinput label::before {
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 1px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.textarea label::after {
    content: "";
    position: absolute;
    border: double rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    transform: rotateZ(45deg);
    top: 196px;
    transition: .5s ease;
}

.textarea label::before {
    content: "";
    position: absolute;
    top: 200px;
    width: 100%;
    height: 1px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.divinput input ~ label span {
    display: block;
    position: absolute;
    transition: .5s ease;
    width: 100%;
    height: 100%;
}

.divinput input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1,0);
    transition: .5s ease;
    background: none;
    border: none;
}

.form label {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    transition: .5s ease;
    width: 100%;
    height: 100%;
    font-family: 'Charm', cursive;
    font-size: 150%;
    cursor: text;
}

.textarea span {
display: block;
position: absolute;
transition: .5s ease;
}

.textarea label {
    height: 22px;
    width: 100%;
}

/*-------Animations-------*/

.divinput input:focus ~ label::after {
    background-color: black;
    border-color: rgb(255, 0, 0);
}

.textarea textarea:focus ~ label::after {
    background-color: black;
    border-color: rgb(255, 0, 0);
}

.subform {
    background-color: black;
    color: rgb(255, 255, 255);
    align-self: center;
}

.subform:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}


/*-------------------------------------FOOTER--------------------------------------------*/

footer {
    height: 450px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thanksTo {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 75%;
}

.thanksTo a {
    color: gray;
}

.contactIcons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: auto;
    align-self: center;
}

.fab {
    color: white;
    transition: .5s ease;
    font-size: 35px;
}

.fab:hover {
    color: rgb(255, 0, 0);
}


/*---------------------------------------------RWD--------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {

    /*------------------------------AboutMe---------------------------------------------*/

    .aboutMe {
        height: auto;
    }

    .deg {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: 0;
        margin: 0;
    }

    .deg > div {
        width: 100%;
        justify-content: center;
        text-align: center;
        min-width: 0;
        margin: 1% 0;
    }

    .information div {
        justify-content: center;
        text-align: center;
        min-width: 0;
    }

    /*------------------------------XP---------------------------------------------*/

    .next {
        height: auto;
    }

    .experience {
        width: auto;
        min-width: 0px;
    }

    .lineIcon::after {
        content: none;
    }

    .line {
        height: 80px;
        width: 80px;
    }

    .infocontainer {
        width: 100%;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .item {
        padding: 5px;
        margin: 15px 0px;
        height: auto;
    }
    
    .info {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .par {
        justify-content: center;
        flex-direction: column;
    }
    
    .par .infocontainer {
        flex-direction: column;
    }
    
    .par .info {
        padding-right: 0px;
    }

    .par h2, .par h3, .par p{
        align-self: inherit;
        text-align: inherit;
    }

    /*------------------------------Services---------------------------------------------*/
    
    .servicesContainer {
        min-width: 0;
    }

    .service {
        margin-right: 0;
        margin-left: 0;
    }
    
    /*------------------------------My Skills---------------------------------------------*/

    .mySkills {
        height: auto;
    }

    .mySkills .hello {
        height: auto;
        width: 100%;
        min-width: 0px;
        margin: 0;
        margin-bottom: 75px;
        flex-direction: column;
        padding: 0px 10px;
    }

    .mySkills .hello div {
        width: 100%;
        height: auto;
    }

    .quality {
        margin-bottom: 10px;
    }

    .quality::before {
        bottom: -4px;
    }

    .quality::after {
        bottom: -9px;
    }

    /*------------------------------Contact---------------------------------------------*/

    .contactForm {
        min-width: 0;
    }

    .form {
        min-width: 0;
    }

    .inputContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100px;
    }

    .divinput {
        width: 100%;
    }

    .nameinc {
        text-align: center;
    }
}
